@import "../../../variables";

.address {
    padding-top: 42.266%;
    width: 100%;
}

.title {
    font-size: 25px;
    text-align: center;
    color: $text_color;
}

.buttons {
    width: 100%;
    position: relative;
    text-align: right;
}

.buttonsWrapper {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
}


.button {
    background-color: $button_color;
    outline: none;
    color: $button_text_color;
    height: 35px;
    border: none;
    width: 30%;
    margin-right: 2.564102564102564102564102564103%;
    border-radius: 10px;
}

.backButton {
    background-color: $secondary_bg_color;
    color: $text_color;
    width: 13.589743589743589743589743589744%;
}

.checkboxes {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkboxes label {
    color: $text_color;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 82.972972972972972972972972972973%;
    gap: 20px;
}