@import "../../variables";

.menu {
    position: absolute;
    top: 25%;
    width: 95%;
}

.title {
    font-size: 25px;
    text-align: center;
    color: $text_color;
    letter-spacing: 2px;
}

.fixedContainer {
    position: fixed;
    top: 5px;
    width: 94.871794871794871794871794871795%;
}
