@import "../../variables";

.cart {
    margin-top: 42.266%;
}

.title {
    font-size: 24px;
    text-align: center;
    color: $text_color;
    letter-spacing: 2px;
    font-weight: 500;
}

.dishes {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order {
    padding: 10px;
    background-color: $secondary_bg_color;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.order_text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: $text_color;
    font-weight: 300;
    letter-spacing: 1px;
    gap: 4px;
}

.order_image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.order_price {
    color: $hint_color;
}

.order_number {
    font-size: 15px;
    color: $text_color;
    display: flex;
    gap: 8px;
}

.order_button {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: none;
    background-color: $button_color;
    color: $button_text_color;
}

.order_total {
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    letter-spacing: 1px;
    color: $text_color;
    padding-bottom: 60px;
}

.button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2.564102564102564102564102564103%;
    margin-bottom: 4.729668246445497630331753554502%;
    width: 100%;
    text-align: right;
}

.button_order {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: $button_color;
    color: $button_text_color;
}