@import "../../variables";

.menu {
    margin-top: 42.266%;
}

.title {
    font-size: 25px;
    text-align: center;
    color: $text_color;
    letter-spacing: 2px;
}

.fixedContainer {
    position: fixed;
    top: 0;
    width: 94.871794871794871794871794871795%;
}
