@import "../../../../variables";


.type {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button_type {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary_bg_color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s linear;
}

.button_type:hover {
    scale: 1.05;
}

.type_image {
    width: 22px;
    height: 22px;
    color: $text_color;
}

.active {
    background-color: $button_color;
}