@import "../../../variables";


.card {
    width: 48.648648648648648648648648648649%;
    margin-bottom: 20px;
}

.card_image {
    width: 100%;
}

.card_description {
    display: flex;
    margin-top: -5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary_bg_color;
    color: $text_color;
}

.card_price {
    color: $hint_color;
}