@import "../../../../variables";

.choosing {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    background-color: $secondary_bg_color;
    align-items: center;
    border-radius: 15px;
    height: 70px;
    padding-left: 10px;
    overflow-x: auto;
}

.choosing::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .choosing {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.choosing_link:last-child {
    margin-right: 10px;
}

.choosing_link {
    flex: 1;
    text-decoration: none;
    width: 34.3%;
    min-width: 150px;
    background-color: $hint_color;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choosing_link_clicked {
    background-color: $button_color;
}

.choosing_span {
    font-size: 16px;
    color: $button_text_color;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    max-height: 45px;
    overflow-y: hidden;
    padding-left: 3px;
    padding-right: 3px;
    // white-space: nowrap;
    // overflow: hidden;
    // padding-left: 5px;
    // padding-right: 5px;
}
