$bg_color: var(--tg-theme-bg-color, #2E1233);
$button_color: var(--tg-theme-button-color, #CB2DE7);
$button_text_color: var(--tg-theme-button-text-color, #FFFFFF);
$hint_color: var(--tg-theme-hint-color, #AD74B7);
$link_color: var(--tg-theme-link-color, #D636FA);
$secondary_bg_color: var(--tg-theme-secondary-bg-color, #431E47);
$text_color: var(--tg-theme-text-color, #F5F5F5);
