@import '../../variables';

.header {
    height: 5.213270142180094786729857819905%;
    border-bottom: 1px solid $text_color;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link {
    margin: 0 10px;
}

.links {
    display: flex;
    gap: 20px;
}