@import "../../../../variables";

.info_dishes {
    background-color: $secondary_bg_color;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info_block_line {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.info_new {
    width: 80%;
    max-width: 80%;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    gap: 5px;

}

.info_dish {
    color: $text_color;
}

.info_name {
    width: 90%;
    color: $text_color;
    overflow-x: hidden;
}

.info_price {
    text-align: right;
    width: 30%;
    color: $text_color;
}

.info_amount {
    width: 10%;
    color: $hint_color;
}

.bold {
    font-weight: 700;
}
